/* CSS files add styling rules to your content */

body {
  font-family: "Helvetica Neue", helvetica, arial, sans-serif;
  margin: 0em;
}

h1 {  
  color: #373fff;
}

div {
  margin: 0em 0em;
}

.div-with-margin {
  margin: 2em 2em;
}

#statusDiv {  
  background-color: #eee;
}

