/* CSS files add styling rules to your content */

body {
  font-family: "Helvetica Neue", helvetica, arial, sans-serif;
  margin: 0em;
  /* Pushes content left by 60px from the viewport edge. */
/*  margin-left: -60px; */
}

h1 {  
  color: #373fff;
}

div {
  margin: 0em 0em;
}

.div-with-margin {
  margin: 1em 1em;
  padding-left: 60px;
}

#statusDiv {  
  background-color: #eee;
}

