/* CSS files add styling rules to your content */

body {
  font-family: "Helvetica Neue", helvetica, arial, sans-serif;
  margin: 0em;
}

h1 {  
  color: #373fff;
}

div {
  margin: 0em 0em;
}

#statusDiv {  
  background-color: #eee;
}

.indent-1 {
  float: left;
}

.indent-1 section {
  width: 20%; float: left;
}
