/* CSS files add styling rules to your content */

body {
  font-family: "Helvetica Neue", helvetica, arial, sans-serif;
  margin: 0em;
  /* Pushes content down by 50px and right by 30px from the viewport edge */
  margin-top: 50px;
  margin-left: 30px;
}

h1 {  
  color: #373fff;
}

div {
  margin: 0em 0em;
}

.div-with-margin {
  margin: 1em 1em;
}

#statusDiv {  
  background-color: #eee;
}

